a {
    text-decoration: none;

    @media (max-width: 1126px) {
        font-size: $fontSize;
    }
}

a:hover {
    color: $backgroundcolor;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: $mainlineHeight
}