$mainlineHeight: 164%;
$lineHeight: 100%;
$backgroundcolor: #34547A;
$maintextColor: #727272;
$footertextcolor: #FFFFFF;
$textwidth: 540px;
$fontWeight: 500;
$titlefontsize: 32px;
$textalign: center;
$fontSize: 14px;