.main {
    width: $layout-width;
    height: 344px;
    margin-bottom: 60px;

    .content {
        width: 1600px;
        height: 294px;
        margin: $layoutmargin;
    }

    &__team {
        display: grid;
        grid-template-columns: 1fr 3fr;
        background-color: #F5F5FA;
        border-top-right-radius: $mainborder-radius;
        border-bottom-right-radius: $mainborder-radius;
    }

    &__text {
        margin-top: $mainmargin;
        margin-left: $mainmargin;
    }

    &__title1 {
        font-weight: $mainfont;
        font-size: 14px;
        line-height: $mainlineheight;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: $firstcolor;
        margin-bottom: 0;
    }

    &__tittle {
        top: -14.5px;
        position: relative;
        left: 87px;
        height: 12px;
        width: 12px;
        display: block;
    }

    &__text1 {
        font-weight: $mainfont;
        font-size: 38px;
        line-height: $mainlineheight;
        background: linear-gradient(90.13deg, $thirdcolor 0.84%, #EF8080 99.96%);
        background-clip: text;
        color: transparent;
        margin-bottom: $mainmargin;
    }

    &__fio {
        font-weight: $mainfont;
        font-size: 16px;
        line-height: $mainlineheight;
        color: $secondcolor;;
        margin-bottom: 6px;
    }

    &__partner {
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: $secondcolor;;
    }

    &__carusel-indicators {
        display: flex;
        margin-left: 703px;
        margin-top: $mainmargin;
    }

    &__carusel {
        list-style: none;
        justify-content: center;
        width: 16px;
        height: 16px;
        background-color: #ccc;
        border-radius: 50%;
        margin: 0 5px;
        cursor: pointer;
        opacity: 20%;
    }

    &__carusel--1 {
        list-style: none;
        justify-content: center;
        width: 16px;
        height: 16px;
        background-color: #ccc;
        border-radius: 50%;
        margin: 0 5px;
        cursor: pointer;
        background-color: $firstcolor;
    }
}

.trust {
    width: $layout-width;
    height: 407px;
    margin-bottom: 60px;

    .content {
        width: 1660px;
        margin: $layoutmargin;
    }

    img {
        width: 417px;
    }

    &__tittle {
        font-size: 14px;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin-left: 713.5px;
        color: #323264;
    }

    &__items {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        width: 1660px;
        height: 349px;
        margin: $layoutmargin;
    }

    &__item,
    &__item1,
    &__item2,
    &__item3 {
        border-top-left-radius: $mainborder-radius;
    }
}

.switch {
    .content {
        width: 233px;
        height: 42px;
        background: #E6E6F0;
        border-radius: $mainborder-radius;
        position: relative;
        margin-bottom: $mainmargin;
    }

    &__text {
        width: 105px;
        height: 38px;
        background: $maincolor;
        border-radius: 10px;
        position: absolute;
        top: 2px;
        left: 2px;
    }

    &__text1 {
        left: 107px;
        position: absolute;
        top: 2px;
        width: 62px;
        height: 20px;
    }

    &__text1:hover {
        margin-left: 2px;
        width: 122px;
        height: 38px;
        border-radius: 10px;
        background-color: #F5F5FA;
        cursor: pointer;
    }

    &__news {
        font-size: 16px;
        line-height: $mainlineheight;
        margin-bottom: 0;
        margin-left: $mainmargin;
        margin-top: 10px;
    }
}