$layout-width: 100%;
$mainborder-radius: 12px;
$layoutmargin: 0 auto;
$mainmargin: 30px;
$mainlineheight: 100%;
$maincolor: #ffffff;
$firstcolor: #24A3FF;
$mainfont: 700;
$secondcolor: #B3B3BA;
$thirdcolor: #F0145A;