#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.active {
  font-weight: bold;
  text-decoration: underline;
  color: red;
}

#App {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding-top: 20px;
  
}

body.світла {
  background-color: #fff;
  color: #000;
}

body.темна {
  background-color: #333;
  color: black;
  
}

.switch-container {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 20px;
  cursor: pointer;
}

.switch-slider {
  position: absolute;
  background-color: #ccc;
  border-radius: 30px;
  top: 0;
  left: -10px;
  right: 0;
  bottom: 0;
  transition: background-color 0.3s;
}

.switch-slider::before {
  content: "";
  position: absolute;
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s;
}

body.темна .switch-slider {
  background-color: #4a90e2;
}

body.темна .switch-slider::before {
  transform: translateX(30px);
}