@media (max-width: map-get($grid-breakpoints, sm)) {
    .top {
        width: $layout-width;
        height: 3274px;
        position: relative;
        overflow: visible;

        &::after {
            content: "";
            width: 94%;
            height: 10px;
            background-color: #CACADB;
            display: block;
            margin-left: 20px;
            border-bottom-right-radius: $mainborder-radius;            z-index: 0;
            position: absolute;
            border-bottom-left-radius: $mainborder-radius;            top: 3274px;
        }
    }

    #header {
        margin-bottom: 0;

        .content {
            width: 375px;
        }

        #text-publications {
            width: 11.62px;
            height: 26px;
        }

        #text-publications1 {
            font-size: 20px;
        }
    }

    #logo-publications {
        margin-left: 15px;
    }

    #info-publications {
        background-color: #F5F5FA;
    }

    #span {
        background-color: #323264;
    }

    .header {
        height: 102px;

        .content {
            display: flex;
            flex-direction: row;
            width: 375px;
            height: 102px;
            flex-wrap: wrap;
            position: relative;
        }

        .header__address {
            display: none;
        }

        &__img {
            width: 69.33px;
        }

        &__languages {
            font-size: 12px;

        }

        &__phone1 {
            width: 104px;
        }

        &__logo {
            order: 2;
            margin-left: 15px;
            margin-top: 0;
            margin-bottom: 0;
            z-index: 1;
            width: fit-content;
        }

        &__info {
            order: 1;
            justify-content: space-between;
            margin-left: 0;
            margin-bottom: 10px;
            background: rgba(245, 245, 250, 0.2);
            width: 375px;
            height: 45px;
            margin-top: 0px;
            gap: 130px;

            >div {
                margin-left: 15px;

                &::after {
                    content: none;
                    width: 6px;
                    height: 6px;
                    background-color: white;
                    border-radius: 30px;
                    position: absolute;
                    right: -11px;
                }
            }
        }

        &__fb {
            display: none;
        }

        .header__hamburger {
            width: 32px;
            height: 32px;
            display: flex;
            order: 4;
            position: absolute;
            bottom: 15px;
            right: 15px;
            cursor: pointer;
        }

        span {
            background-color: white;
            width: 18px;
            height: 2px;
            display: block;
            position: absolute;
            margin-left: 7px;
        }

        span:nth-child(1) {
            top: 10px;
        }

        span:nth-child(2) {
            top: 15px;
        }

        span:nth-child(3) {
            top: 20px;
        }

        &__menu {
            order: 3;
            z-index: 1;
            display: none;

            ul {
                order: 3;
                display: flex;
                margin-left: 44px;
                justify-content: flex-start;
            }
        }
    }

    .hero {
        height: 600px;
        width: $layout-width;
        margin: $layoutmargin;
        .content {
            width: 375px;
            height: 600px;
            margin: $layoutmargin;            position: relative;
            overflow: hidden;
        }

        &__img {
            left: -74px;
            width: 523.4px;
            height: 600px;
        }

        &__text {
            top: 231px;
            left: 30px;
            width: 315px;
            text-align: center;
            overflow: hidden;
            line-height: 46.8px;
        }

        &__vector1 {
            top: 528px;
            left: 167px;
        }
    }

    .tabs {
        margin-top: 507px;
        width: $layout-width;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: $mainmargin;        height: 426px;
        overflow: hidden;
        padding-top: 0;

        .content {
            display: flex;
            flex-direction: column;
            width: 315px;
            height: 419px;
            overflow: hidden;
        }

        &__text {
            display: flex;
            position: relative;
            gap: 30px;
            width: 1246px;
            height: 37px;
            margin-bottom: $mainmargin;        }

        &__text::after {
            width: 315px;
            height: 4px;
            top: 67px;
            left: 0px;
        }

        &__text-1,
        &__text-2,
        &__text-3,
        &__text-4 {
            margin-bottom: 0;
            font-size: 30px;
        }

        &__we-tur-the-idea {
            margin-top: 45px;
            margin-left: 0;
            height: 187px;
        }

        &__we-tur {
            margin-left: 0;
            margin-top: 0;
            margin-bottom: $mainmargin;            height: 48px;
            font-size: 20px;
        }

        &__consolidating {
            margin-left: 0;
            width: 315px;
        }
    }

    .what-can-we-do {
        width: $layout-width;
        padding-top: 0;
        height: 2215px;

        &::after {
            top: 3284px;
            width: 89%;
            left: -12px;
        }

        .content {
            width: 315px;
        }

        &__text {
            height: 74px;
            font-size: 30px;
            margin-bottom: $mainmargin;        }

        &__items {
            grid-template-columns: 1fr;
            row-gap: 30px;
            height: 294px;
        }
    }

    .main {
        width: 375px;
        height: 1133px;

        .content {
            width: 315px;
            height: 1054px;
        }

        &__title1 {
            width: 255px;
        }

        &__team {
            width: 315px;
            height: 1087px;
            display: block;
            border-radius: $mainborder-radius;            overflow: hidden;
        }

        &__image {
            left: -171px;
            height: 500px;
        }

        &__img {
            left: 0px;
            width: 648px;
            height: 500px;
            border-top-left-radius: $mainborder-radius;            border-top-right-radius: $mainborder-radius;            position: absolute;
        }

        &__text1 {
            width: 255px;
            height: 407px;
            font-size: 30px;
            line-height: 40.9px;
        }

        &__fio {
            width: 255px;
        }

        &__carusel-indicators {
            margin-left: 110.5px;
            padding: 0;
            margin-bottom: 0;
        }
    }

    .trust {
        width: 375px;
        height: 675px;
        margin-top: 60px;
        margin-left: auto;
        margin-right: auto;

        .content {
            width: 315px;
            margin: 0;
            height: 767px;
        }

        &__tittle {
            height: 17px;
            margin-left: 83px;
            width: 209px;
            letter-spacing: 0;
        }

        &__items {
            grid-template-columns: 1fr;
            width: 375px;
            height: 628px;
            overflow: hidden;

            img {
                border-radius: 0;
                width: 375px;
            }
        }

        &__item {
            border-top-left-radius: $mainborder-radius;        }

        &__item1 {
            border-top-right-radius: $mainborder-radius;        }

        &__item2 {
            border-bottom-left-radius: $mainborder-radius;        }

        &__item3 {
            border-bottom-right-radius: $mainborder-radius;        }
    }

    #publications {
        height: 3046px;

        #more {
            margin-left: 52px;
        }

        #equity6 {
            padding-top: 30px;
        }
    }

    .publications {
        width: 375px;
        height: 1599px;
        margin: $layoutmargin;        padding-top: 0;

        .content {
            margin-left: $mainmargin;            width: 315px;
        }

        &__we-have-something {
            padding-top: 30px;
            margin-bottom: $mainmargin;            position: relative;
        }

        &__link {
            margin-bottom: 5px;
        }

        &__link1::after {
            content: '';
            position: absolute;
            width: 12px;
            height: 12px;
            top: 1px;
        }

        &__tittle {
            font-size: 30px;
        }

        &__items {
            width: 315px;
            display: block;
            height: 1460px;
        }

        #items {
            height: 2818px;
        }

        &__item1 {
            background-color: $maincolor;;
            border-radius: $mainborder-radius;            height: 432px;
            margin-bottom: $mainmargin;            width: 315px;
        }

        &__item2 {
            background-color: $maincolor;;
            border-radius: $mainborder-radius;            height: 514px;
            margin-bottom: $mainmargin;            width: 315px;
        }

        &__item3 {
            height: 454px;
            grid-column-start: 1;
            grid-column-end: 4;
            display: grid;
            grid-template-rows: 0fr 0fr 0fr 0fr;
            background-color: $maincolor;;
            width: 315px;
            border-radius: $mainborder-radius;        }

        #item1 {
            height: 432px;
        }

        #item2 {
            height: 514x;

        }

        #item3 {
            height: 454px;
            margin-bottom: $mainmargin;        }

        #item4 {
            margin-bottom: $mainmargin;        }

        #item5 {
            height: 494px;
        }

        #item6 {
            height: 296px;

        }

        &__img {
            width: 315px;
            height: 200px;
        }

        &__img3 {
            width: 315px;
            height: 200px;
        }

        &__equity {
            width: 249px;
            margin-bottom: 15px;
        }

        &__equity3 {
            font-size: 16px;
            color: $firstcolor;;
            margin-top: 0;
            margin-bottom: 15px;
            margin-left: $mainmargin;        }

        &__date {
            font-weight: $mainfont;
            font-size: 12px;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: $secondcolor;;
        }

        &__date::after {
            width: 249px;
            top: 28px;
            left: -30px;
        }

        &__date3 {
            font-weight: $mainfont;
            font-size: 12px;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: $secondcolor;;
            margin-top: 0;
            margin-left: $mainmargin;            position: relative;
        }

        &__date3::after {
            content: '';
            width: 255px;
            height: 4px;
            position: absolute;
            background-color: #E6E6F0;
            top: 30px;
            left: 0;
        }

        &__text {
            font-size: 14px;
            line-height: 22px;
            padding-top: 15px;
            margin-left: $mainmargin;            width: 255px;
            height: 110px;
        }

        &__text3 {
            font-size: 14px;
            line-height: 22px;
            padding-top: 15px;
            margin-left: $mainmargin;            width: 255px;
            height: 110px;
        }
    }

    .switch {
        padding-top: 30px;

        .content {
            width: 233px;
            height: 42px;
            background: #E6E6F0;
            border-radius: $mainborder-radius;            position: relative;
            margin-bottom: $mainmargin;        }
    }

    .footer {
        padding-top: 62px;
        width: 375px;
        margin: $layoutmargin;        height: 250px;

        .content {
            width: 315px;
            margin-left: $mainmargin;            display: flex;
            flex-direction: column;
        }

        .content::before {
            width: 315px;

        }

        &__address {
            flex-direction: column;
            width: 201px;
            display: flex;
            margin-bottom: 21px;
            color: #323264;
            position: relative;
            margin-left: 57px;

            &::after {
                content: none;
            }
        }

        &__map {
            margin-left: 73px;
        }

        &__phone {
            flex-direction: column;
            width: 204px;
            display: flex;
            margin-left: 55.5px;
            gap: 10px;
            margin-bottom: $mainmargin;        }

        &__point:nth-child(-n+2) {
            &::after {
                content: none;
            }
        }

        &__trademark {
            width: 300px;
            top: 187px;
            width: 300px;
            left: 17px;
        }
    }
}