header {
  height: 70px;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.logo {
  font-size: 26px;
  color: #ff4081;
  cursor: pointer;
}

.cart {
  font-size: 16px;
  cursor: pointer;
  background-color: #ff4081;
  color: #fff;
  padding: 8px 15px;
  border-radius: 25px;
  transition: 0.2s;
}

.cart:hover {
  background-color: #e91e63;
}